{
  "extends": "@antfu",
  "rules": {
    "no-console": "off",
    "eol-last": "off",
    "curly": [
      "error",
      "all"
    ],
    "no-new-func": "off",
    "no-import-assign": "off"
  },
  "ignorePatterns": ["dist", "node_modules"],
  "env": {
  }
}